html {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Helvetica Neue", Helvetica;
    margin: 0px;
    font-size: 14px;
    line-height: 1.3;
    background-color: lightslategray; 
}
nav {
    background-color: black;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}
nav a {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    padding: 23px 15px 23px 15px;
}
nav #navitem:hover {
    color: gray;
}
main {
   display: flex;
   padding: 10vh 0vh 0vh 0vh;
}
.box {
    border-radius: 14px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 4% 4% 4% 4%;
}
#box1 {
    background-color: white;
}
#box2 {
    background-color: lightblue;
}
footer {
    background-color: lightslategray;
    color: black;
    width: 100%;
    height: 10vh;
    padding: 10px 10px 10px 10px;
    text-align: center;
    bottom: 0;
    position: fixed;
    bottom: 0;
}
#twitterlogo {
    width: 42px;
    height: auto;
}
#githublogo{
    width: 28px;
    padding: 0px 7px 0px 7px;
    height: auto;
}
#twitterlink, #githublink {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 750px) {
    .box {
        width: 85%;
        margin: 2.5% 5% 2.5% 5%;
    }
    main {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 751px) and (max-width: 10000px) {
    .box {
        width: 40%;
        margin: 3% 3% 3% 3%;
    }
    main {
        flex-direction: row;
        justify-content: center;
    }
}