html {
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 15pt;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}
#container {
    padding: 20px;
    background-color: lightcyan;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: inline-block;
    
}
#name, #email, #number, #student, #parent, #teacher, #location, #tech, #person, #incent, #Nachricht, #answer, #submit {
  float: right;
}
#Nachricht {
    width: 100%;
    resize: vertical;
}
#description {
    font-style: italic;
}
button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #45a049; 
}





