html {
    color: white;
    background-color: black;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}
#main {
    display: flex;
    flex-direction: row;
}
#img-div {
    display: inline-block;
    text-align: center;
    font-size: 12pt;
    letter-spacing: 0.6mm;
}
#image {
    float: right;
    height: auto;
    max-width: 100%;
}
#img-caption {
    position: relative;
    top: 1em;
}
#left {
    background-color: black;
    text-align: center;
    padding: 10vw;
    line-height: 1.4;
    font-size: 12pt;
    letter-spacing: 0.6mm;
}
#infosrc {
    color: white;
}
#tribute-link {
    color: rgb(119,187,249);
    text-decoration: none;
    margin: auto;
    position: relative;
}
@media screen and (min-width: 851px) {
    #tribute-link {
        top: 1.5em;
    }
    #left {
        float: left;
        height: 100%;
        width: 50vw; 
    }
}
@media screen and (min-width: 0px) and (max-width: 850px) {
    #main {
        flex-direction: column-reverse;
        width: 100%;
    }
    #left {
        width: 80vw;  
    }
}

